/* h1 {color: #3195dd;}
h2 { color: #3195dd;}
p { color: #3195dd;}
ul { color: #3195dd;} */
body {
    font-size: 30px;
    background-color: black;
    color: #3195dd;
    background: url(1920px-Flag_of_Greece.jpg) repeat-x;

font-family: Arial, Helvetica, sans-serif;}
.dish {
    border: 1px dashed red;
    float: left;
    margin: 10px;
    padding: 10px;
}
.dishes {
    float: left;
    border: 1px solid blue;
}
/* * {
    border: 1px solid purple;
} */
